.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.mat-toolbar {
  background-color: #9870C6;
  color: #fff;
}

.bg-dark {
  background-color: #9870C6;
  margin-bottom: 50px;
}

.img {
  width: 100px;
}

.nav {
  margin-left: 50px;
  margin-right: 100px;
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.nav-spacer {
  flex: 1 1 auto;
}

